*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 40px;
    background-color: #FFFEFE;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-name {
    width: 84px;
    height:31px;
    /* margin-left: 700px; */
    margin-top: 6px;
    margin-right: 10px;
}

.navbar-name p {
    font-size: 27px;
    font-style: italic;
    font-weight: 400;
    font-weight: cursive;
}

.border {
    border: 1.5px solid transparent;
    /* border-radius: 8px; */
}
/* .border:hover {
    background-color: cornsilk;
} */
.navbar-logo {
    height: 29px;
    width: 29px;
    margin-top: 8px;
    /* margin-left: 4px; */
}

.logo {
    background-image: url('../img/swiftly.png');
    background-size: cover;
    height: 25px;
    width: 100%;
    cursor: pointer;
}

.order-container {
    /* border: 2px solid red; */
    background-color: #D4ECFF;
}
.btn-container {
    /* border: 2px solid red; */
    margin-top: 14px;
    text-align: center;
}
#ordersBtn {
    position: relative;
    top: 20px; 
}

.btn {
    margin: auto;
    font-size: 20px;
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: none; */
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(82, 163, 174);
}

.card-container {
    display: flex;
    margin-top: 28px;
    /* border: 2px solid red; */
    height: 650px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-container {
    /* border: 1px solid black; */
    margin-top: 14px;
    margin-left: 18px;
    height: 200px;
    width: 200px;
    background-color: rgb(146, 146, 159);
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #FFF5F5;
}

.box-content {
    margin-left: 6px;
    font-family: cursive;
}
.box-content p {
    font-size: 13px;
    color:rgb(7, 46, 46);
    font-weight: bold;
}
.file-image {
    margin-left: 124px;
}
#fileLink {
    display: inline-block;
    margin-right: 10px; 
}

#fileLink img {
    width: 48px; 
    height: auto;
    vertical-align: middle;
}
.file-container {
    /* border: 1px solid yellow; */
    height: 111px;
    background-color: rgb(219, 204, 188);
    margin-right: 6px;
    cursor: pointer;
    border-radius: 10px;
}
.file-container:hover {
    background-color: rgb(82, 163, 174);
}
.file-container p {
    align-content: center;
}

.action-images {
    margin-top: 4px;
}

.action-image {
    display: inline-block; 
    margin-top: 10px; 
    cursor: pointer; 
    width: 26px;
    height: auto;
}

.action-image:hover {
    opacity: 0.7; 
}

.bottom-right-image {
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 40px;
    height: auto;
    z-index: 9999;
}

